<div class="page-header">
    <h1>My Order History</h1>
    <p>This page contains a summary of your previous fluffy animal orders!</p>
</div>
{{#if orderSuccess}}
<div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <p>Your order was placed successfully. Thank you for shopping with us!</p>
</div>
{{/if}}
{{#if orders}}
{{#each orders}}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Order - {{timestamp}}</h3>
    </div>
    <div class="panel-body">
        <h4>Total order: ${{totalCost}}</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Count</th>
                    <th>Animal</th>
                </tr>
            </thead>
            <tbody>
                {{#each details}}
                <tr>
                    <td>{{count}}</td>
                    <td>{{animalName}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/each}} {{else}}
<p>You have no orders with us! You can fix that by browsing <a href="/">our store</a>!</p>
{{/if}}